<!DOCTYPE html>
<html>
  <head>
    <title>Pocket Poetry</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Pocket Poetry</h1>
        <h2>Welcome to your own pocket of poetry!</h2>
        <p>Start browsing your poetry archive, or add new entries!
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">Browse</a> |
          <a href="{{ url_for('create')}}">Write</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          Pocket Poetry was created based on the source code of an example app at
          <a href="https://github.com/nyu-database-design/flask-mongodb-web-app"
            >this link</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
