{% extends 'base.html' %}

{% block container %}
<h2>Browse Poems</h2>
<p>Your archive of saved works.
    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    <br>
        
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p>
            <h3> {{ doc.title }} </h3>
        </p>
        <p>
            <h4> {{doc.name}} </h4>
        </p>
        <pre>{{ doc.message }}
        </pre>
        </p>
        <p>{{ doc.date }}
        </p>
        <p class="post">
            Saved at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            <br/>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            <br/>
        </p>
    </div>
    {%endfor%}
</p>
{% endblock %}